.ref {
  float: right;
}
.noMargin {
  margin-bottom: 0;
}
.rainbowImage {
  margin: 10px 10px 10px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
